html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: #F8F8F8;
    border-radius: 16px;
    width: 624px;
    margin: 16px;
    padding: 32px;
}

.person {
display: flex;
}

.person__description {
    font-size: 16px;
    font-family: 'Kumbh Sans';
    line-height: 22px;
    margin: 0;

}
.person__description--with-margin {
margin-bottom: 22px;

}


.person__info {
    margin-bottom: 24px;
}

.person__link {
    color: darkmagenta;
    text-decoration: none;
}

.person__name {
    font-size: 36px;
    font-family: 'Lobster';
    margin: 0;
    font-weight: normal;

}

.person__picture {
    border:1px solid darkmagenta;
    margin-right: 32px;
    margin-top: 20px;
    height: 210px;
    width: 150px;

}

.person__position {
    font-size: 18px;
    font-family: 'Lobster';
    color: darkmagenta;
    margin: 0;
    font-style: italic;
}

.special {
    color: #ED6D05;
    font-weight: normal;
}
